body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(255, 174, 0, 0.26);
}

header {
  background-color: orange;
  padding: 14px 16px;
  text-decoration: none;
}

#conteudo {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 166, 1);
  text-align: right;
  min-height: 115px;
  padding: 5px 0;
}

.logo img {
  max-width: 180px;
  width: auto;
}

.logo ul {
  list-style: none;
}

.logo a {
  color: #fff !important;
  text-decoration: none;
}

.adestrador {
  margin: 16px;
}

.foto {
  float: left;
  width: 320px;
  height: 180px;
  margin-right: 8px;

}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adestrador h4 {
  font-size: 12px !important;
  margin: 4px
}

.rodape {
  background-color: rgb(255, 166, 1);
  display: flex;
  flex-direction: row;
  color: rgb(90, 24, 24);
  padding: 1%;
  align-items: center;
  justify-content: space-around;
}

.opcoes {
  width: 40%;
}

.sobre {
  width: 40%;
}